@font-face {
  font-family: Hyperspace;
  src: url(../font/hyperspace/Hyperspace.otf);
  font-weight: 400;
}

body {
  margin: 0;
  font-family: Hyperspace, monospace;
  /* background-color: black; */
}

#blocks-left {
  position: absolute;
  right: 40px;
  top: 16px;
  font-size: 2.5vh;
  color: gray;
}

canvas:not(.show) {
  display: none !important;
}
